
.details{
    padding: 24px;
    
}

.details_company{
    color: hsl(26, 100%, 55%);
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.details_title{
    font-size: 1.7em;
    margin-bottom: 16px;
}

.details_description{
    font-size: 0.94em;
    color: hsl(219, 9%, 45%);
    line-height: 24px;
    margin-bottom: 24px;
}

.details_prices{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: center;
}

.details_now{
    font-size: 1.8em;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 18px;

}

.details_discount{
    font-size: 0.5em;
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    padding: 4px;
    border-radius: 4px;

}

.details_before{
    font-weight: 700;
    color: hsl(219, 9%, 45%);
    text-decoration: line-through;
}

.details_button{
    background-color:hsl(26, 100%, 55%);
    width: 100%;
    height: 57px;
    border-radius: 8px;
    border: none;
    color: hsl(0, 0%, 100%);
    font-size: 0.9em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.details_button:hover{
    cursor: pointer;
    opacity: 0.5;
}

@media(min-width: 1115px){
    .details{
        width: 446px;
        padding-top: 60px;
    }

    .details_title{
        font-size: 2.7em;
        margin-bottom: 48px;
    }

    .details_description{
        font-size: 0.9em;
        margin-bottom: 37px;
    }

    .details_prices{
        flex-direction: column;
        align-items: flex-start;
    }

    .details_product-quantity{
        display: flex;
        gap: 32px;
    }

}