
.navbar{
    display: none;
    width: 400px;
}

@media(min-width: 1115px){
    .navbar{
        display: block;
    }
}

.navbar-itens{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navbar-link{
    text-decoration: none;
    color: hsl(219, 9%, 45%);
    display: block;
    height: 112px;
    padding-top: 42px;
}

.navbar-link:hover{
    border-bottom: 4px solid hsl(26, 100%, 55%);
}